.introSection {
    padding: 0 2rem 0;
    /* padding: 44px 2rem 0; */
    background-color: var(--gray-900);
}

.navigationBar {
    padding: 1.25rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Roboto", sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 130%;
    color: var(--gray-100);
}

.locationWrapper {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.cartWrapper {
    padding: .5rem;
    text-align: center;
    border-radius: .375rem;
}

.introSectionHeader {
    padding: 1.25rem 0 8.5625rem 0;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.headerTitle {
    font-family: "Baloo 2", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 130%;
    color: var(--white);
}

.searchBarWrapper {
    position: relative;
}

.searchInput {
    width: 100%;
    border: 0;
    border-radius: .25rem;
    background-color: var(--gray-800);
    padding: .75rem .75rem .75rem 2.25rem;
    color: var(--white);
    
}

.searchInput::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 130%;
    color: var(--gray-600);
}

.introSearchIcon {
    color: var(--gray-600);

    position: absolute;
    top: 50%;
    left: .75rem;
    transform: translateY(-50%);
}

.catalogSection {
    padding: 210px 2rem 44px;
    background-color: var(--gray-100);
}

.catalogSugestionsSection {
    background-color: transparent;
    border: 1px solid blueviolet;
    
    position: absolute;
    top: 229px;
    left: 0;

    height: 323px;
    padding: 2rem;
    
    display: flex;
    gap: 2rem;

    /* overflow-x: scroll; */
}

.catalogProductsHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    padding: 1rem 0;

    font-family: "Baloo 2", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--gray-700);
}

.catalogFilterWrapper {
    display: flex;
    gap: .5rem;
}

.catalogProductsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.catalogProductFilteredList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    font-family: "Baloo 2", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--gray-600);
}


/* Responsive Layout */

@media only screen and (min-width: 640px) {
    .headerTitle {
        font-size: 1.5rem;
    }
    .searchInput {
        padding: .875rem .875rem .875rem 2.5rem;
    }
    .searchInput::placeholder {
        font-size: 1rem;
    }
    .introSearchIcon {
        width: 1.125rem;
        height: 1.125rem;
    }
    
}

@media only screen and (min-width: 768px) {
    .introSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .introSectionHeader, 
    .navigationBar {
        width: 100%;
        max-width: 768px;
    }
}

@media only screen and (min-width: 1024px) {
    .introSectionHeader, 
    .navigationBar {
        max-width: 1024px;
    }
}
